
<ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Escanear pedido
        </ion-card-title>
      </ion-card-header>
     <ion-card-content>
      <ion-button expand="full" (click)="ir()" >Volver</ion-button>
      <ion-button expand="full" (click)="scan()" >Escanear</ion-button>
     </ion-card-content>
    </ion-card>
  <ion-card *ngFor="let pedido of pedidos" [color]="pedido.color">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><ion-chip [color]="pedido.color">Estado: {{pedido.state}}</ion-chip></ion-title>
    </ion-toolbar>
    <ion-card-header>
      <ion-card-subtitle>$ {{pedido.price}}</ion-card-subtitle>
      <ion-card-title>{{pedido.prod}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header [color]="pedido.color">
          <ion-label>Cliente</ion-label>
        </ion-list-header>
        <ion-item [color]="pedido.color">
          <ion-label>
            <h1>CLIENTE</h1>
            <p>{{pedido.cus}}</p>
          </ion-label>
        </ion-item>
          <ion-item [color]="pedido.color">
            <ion-label>
              <h1>Tipo de documento</h1>
              <p>{{pedido.tipoci}}</p>
            </ion-label>
          </ion-item>
          <ion-item [color]="pedido.color">
            <ion-label>
              <h1>Identificación</h1>
              <p>{{pedido.ci}}</p>
            </ion-label>
          </ion-item>
          <ion-item [color]="pedido.color">
            <ion-label>
              <h1>Correo</h1>
              <p>{{pedido.email}}</p>
            </ion-label>
          </ion-item>
          <ion-item [color]="pedido.color">
            <ion-label>
              <h1>Celular</h1>
              <p>{{pedido.tel}}</p>
            </ion-label>
          </ion-item>
          <ion-item [color]="pedido.color">
          <ion-label>
            <h1>Dirección</h1>
            <p>{{pedido.dir}}</p>
          </ion-label>
        </ion-item>
        <ion-item [color]="pedido.color">
          <ion-label>
            <h1>Método de pago</h1>
            <p>{{pedido.method}}</p>
          </ion-label>
        </ion-item>
        <ion-item [color]="pedido.color">
          <ion-label>
            <h1>Imagen de transferencia</h1>
            <p>
              <img [src]="pedido.trans" alt="No hay imagen">
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header [color]="pedido.color">
          <ion-label>Pedido</ion-label>
        </ion-list-header>
        <ion-item [color]="pedido.color">
          <ion-label>
            <h1>Productos</h1>
            <p>{{pedido.prod}}</p>
          </ion-label>
        </ion-item>
          <ion-item [color]="pedido.color">
            <ion-label>
              <h1>Precio total</h1>
              <p>$ {{pedido.price}}</p>
            </ion-label>
          </ion-item>
          <ion-item [color]="pedido.color">
            <ion-label>
              <h1>Fecha de pedido</h1>
              <p>{{pedido.fecha}}</p>
            </ion-label>
          </ion-item>
          <ion-item [color]="pedido.color">
            <ion-label>
              <h1>Retiro / Envío</h1>
              <p>{{pedido.retiro}}</p>
            </ion-label>
          </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

 
</ion-content>